body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img.card-photo {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

div.card {
  height: 15em;
  flex-grow: 1;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  padding: 0.5em;
  width: 100%;
  gap: 0.5em;
  box-sizing: border-box;
  background: #2b1f1f;
}